In [1]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\lenovo\anaconda\lib\site-packages (23.0.1)

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda\lib\site-packages (8.0.32)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lenovo\anaconda\lib\site-packages (from mysql-connector-python) (3.19.1)

In [7]:
import mysql.connector

In [2]:
class Database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="db_stasiun_kai"
        )
        my_cursor = my_db.cursor()
        
    def __del__(self):
        my_db.commit()

In [3]:
class ticket_kereta_api(Database):
    
    def tampil_ticket(self, mode='DESC'):
        sql = "SELECT * FROM ticket_kereta_api ORDER BY id_penumpang {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_ticket(self, data):
        
        sql = "INSERT INTO ticket_kereta_api (nama_kereta, tujuan, letak_seat, letak_gerbong) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    def insert_ticket_many(self, data):
        sql = "INSERT INTO ticket_kereta_api (nama_kereta, tujuan, letak_seat, letak_gerbong) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e:
            return e

In [4]:
    def delete_ticket(self, id):
        sql = "DELETE FROM ticket_kereta_api WHERE id_penumpang = {}".format(id)

        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
    
    def update_ticket(self, id, data):
        
        sql = "UPDATE ticket_kereta_api SET nama_kereta = %s, tujuan = %s, letak_seat = %s, letak_gerbong = %s WHERE id_penumpang = {}".format(id)
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE ticket_kereta_api"
        try:
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e
        return True

In [5]:
tct = ticket_kereta_api()

data = [('Argo Wilis', 'Surabaya', 20, 2),('Sancaka', 'Kertosono', 24, 4)]

tct.insert_ticket_many(data)

print(tct.tampil_ticket())

2 record inserted.
[('Sancaka', 'Kertosono', 24, 4, 60), ('Argo Wilis', 'Surabaya', 20, 2, 59)]

In [7]:
data = ('Bima', 'Semarang', 34, 1)
tct.insert_ticket(data)

1 record inserted.

62

In [10]:
tct.tampil_ticket()

[('Bima', 'Semarang', 34, 1, 62),
 ('Sancaka', 'Kertosono', 24, 4, 61),
 ('Sancaka', 'Kertosono', 24, 4, 60),
 ('Argo Wilis', 'Surabaya', 20, 2, 59)]

In [49]:
class Database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="db_stasiun_kereta_api"
        )
        my_cursor = my_db.cursor()
        
    def __del__(self):
        my_db.commit()
        
class pegawai_kereta_api(Database):
    
    def tampil_pegawai(self, mode='DESC'):
        sql = "SELECT * FROM pegawai_kereta_api ORDER BY id_pegawai {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_pegawai(self, data):
        
        sql = "INSERT INTO pegawai_kereta_api (nama_pegawai, kedudukan, jabatan, unit) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    def insert_pegawai_many(self, data):
        sql = "INSERT INTO pegawai_kereta_api (nama_kereta, kedudukan, jabatan, unit) VALUES (%s, %s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e:
            return e
        
    def delete_pegawai(self, id):
        sql = "DELETE FROM pegawai_kereta_api WHERE id_pegawai = {}".format(id)

        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
    
    def update_pegawai(self, id, data):
        
        sql = "UPDATE pegawai_kereta_api SET nama_kereta = %s, kedudukan = %s, jabatan = %s, unit = %s WHERE id_pegawai = {}".format(id)
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE pegawai_kereta_api"
        try:
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e
        return True

In [44]:
tct = pegawai_kereta_api()
data = [('Shareen Anastasya', 'stasiun jombang', 'supervisor', 'keuangan'), ('Javier Leon', 'stasiun gubeng', 'supervisor', 'administrasi')]

tct.insert_pegawai_many(data)
print(tct.tampil_pegawai())

2 record inserted.
[('Shareen Anastasya', 0, '0', 'supervisor', 'keuangan'), ('Javier Leon', 0, '0', 'supervisor', 'administrasi'), ('Shareen Anastasya', 0, 'stasiun jombang', 'supervisor', 'keuangan'), ('Javier Leon', 0, 'stasiun gubeng', 'supervisor', 'administrasi')]

In [46]:
data = ('Moch Ebrar', 'stasiun semarang', 'staff', 'kesehatan keselamatan kerja')
tct.insert_pegawai(data)

1 record inserted.

0

In [47]:
tct.tampil_pegawai()

[('Shareen Anastasya', 0, '0', 'supervisor', 'keuangan'),
 ('Javier Leon', 0, '0', 'supervisor', 'administrasi'),
 ('Shareen Anastasya', 0, 'stasiun jombang', 'supervisor', 'keuangan'),
 ('Javier Leon', 0, 'stasiun gubeng', 'supervisor', 'administrasi'),
 ('Moch Ebrar', 0, 'stasiun semarang', 'staff', 'kesehatan keselamatan kerja')]

In [33]:
class Database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="db_stasiun_kereta_api"
        )
        my_cursor = my_db.cursor()
        
    def __del__(self):
        my_db.commit()

In [34]:
class penumpang_kereta_api(Database):
    
    def tampil_penumpang(self, mode='DESC'):
        sql = "SELECT * FROM penumpang_kereta_api ORDER BY id_penumpang {}".format(mode)
        
        try:
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e:
            return e
        
        return result
    
    def insert_penumpang(self, data):
        
        sql = "INSERT INTO penumpang_kereta_api (nama_penumpang, bukti_vaksin, jenis_penumpang) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
        except Exception as e:
            return e
        
        return my_cursor.lastrowid
    
    def insert_penumpang_many(self, data):
        sql = "INSERT INTO penumpang_kereta_api (nama_penumpang, bukti_vaksin, jenis_penumpang) VALUES (%s, %s, %s)"
        
        try:
            my_cursor.executemany(sql, [tuple(row) for row in data])
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e:
            return e
        
    def delete_penumpang(self, id):
        sql = "DELETE FROM penumpang_kereta_api WHERE id_penumpang = {}".format(id)

        try:
            my_cursor.execute(sql)
            my_db.commit()
            print(my_cursor.rowcount, "record deleted.")
        except Exception as e:
            return e
    
    def update_penumpang(self, id, data):
        
        sql = "UPDATE penumpang_kereta_api SET nama_penumpang = %s, bukti_vaksin = %s, jenis_penumpang = %s WHERE id_penumpang = {}".format(id)
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, "record update.")
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql = "TRUNCATE TABLE penumpang_kereta_api"
        try:
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e
        
        return True

In [36]:
db = Database()
pnp = penumpang_kereta_api()

data = [('Kejora', 'sudah vaksin', 'reduksi', 61), ('Septihan', 'belum vaksin', 'umum', 59)]

pnp.insert_penumpang_many(data)
print(pnp.tampil_penumpang())

[]